body{
  background: black;
  overflow-x: hidden;
}
h1,h2,h4,p,a{
  text-decoration: none;
  color: white;
}
ul{
  text-decoration: none;
  list-style: none;
}
.btn1{
  padding: 12px 32px;
  font-size: 16px;
  text-transform: uppercase;
  background: yellow;
  color: black;
  border: 1px solid #ffff;
  font-weight: bold;
  cursor: pointer;
}
 .btn2{
  background: transparent;
  color: #ffff;
  border: 1px solid #ffff;
  font-weight: 600;
  padding: 12px 32px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
